/**
 * @name UCI Theme
 * @author UnitedCatdom / Gibbu (Radial Status)
 * @version 1.2.0
 * @source https://github.com/DiscordStyles/RadialStatus - Radial Status
 * @website https://cutebladeyt.github.io/cuteblade/
 @website https://www.gibbu.me - Radial Status
*/

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

:root {
}

a {
    color: var(--link-color);
}

.tabBody-3YRQ8W {
    background-color: rgb(27, 27, 27);
}

#private-channels {
    background-color: rgb(22, 22, 22);
}

.container-1r6BKw.themed-ANHk51 {
    background-color: rgb(22, 22, 22);
}

.searchBar-6Kv8R2 {
    background-color: rgb(22, 22, 22);
}

.panels-j1Uci_ {
    background-color: rgb(22, 22, 22);
}

.container-19hC9u.scroller-1IIF0A.stickyScroller-24zUyY.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: rgb(25, 25, 25);
}
.stickyHeader-1pqx0j.header-39GIC8.row-1Lmx44.stickyHeader-r2k9DK {
    background-color: rgb(25, 25, 25);
}

.scroller-9moviB.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: rgb(25, 25, 25);
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
    background-color: rgb(17, 17, 17);
}

.container-lRFx4q {
    background-color: rgb(22, 22, 22);
}
.emptyCard-1RJw8n {
    background-color: rgb(22, 22, 22);
}

.popout-103y-5.root-1gCeng {
    background-color: rgb(22, 22, 22);
}

.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.fullWidth-1orjjo.grow-q77ONN {
    background-color: var(--button-color);
}

.container-enaOkj.recentMentionsPopout-3rCiI6.group-spacing-16 {
    background-color: rgb(22, 22, 22);
}

.messages-3G3erD {
    background-color: rgb(27, 27, 27);
}
.channelHeader-3Gd2xq {
    background-color: rgb(25, 25, 25);
}

.tutorialButton-2wJx1F.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: var(--button-color);
}

.itemCard-v9viV7.wrapper-3D2qGf.outer-1AjyKL.padded-302COx.interactive-3B9GmY {
    background-color: rgb(27, 27, 27);
}

.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: var(--button-color);
}

.actionButton-uPB8Fs {
    background-color: rgb(40, 40, 40);
}

.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: rgb(25, 25, 25);
}
.contentRegionScroller-26nc1e.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: rgb(27, 27, 27);
}

.accountProfileCard-1XCH88 {
    background-color: rgb(25, 25, 25);
}
.background-1QDuV2, .fieldList-21DyL8 {
    background-color: rgb(20, 20, 20);
}

.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: rgb(27, 27, 27);
}
.questionMark-3qBhGj {
    background-color: var(--button-color);
}
.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp {
    background-color: rgb(25, 25, 25);
}
.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {
    background-color: var(--button-color);
}

.disableButton-220a9y.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan.sizeSmall-2cSMqn.grow-q77ONN {
    background-color: red;
}
.button-38aScr.lookOutlined-3sRXeN.colorRed-1TFJan.sizeSmall-2cSMqn.grow-q77ONN {
    border: var(--border-width) red solid;
}

.radioBar-bMNUI- {
    background-color: rgb(20, 20, 20);
}

.shinyButton-3uFlM-.button-1PXUl0.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeMedium-1AC_Sl.grow-q77ONN {
    background-color: var(--button-color);
}

.preview-2Vkbi6.cardPrimary-1Hv-to.card-3Qj_Yx {
    background-color: rgb(20, 20, 20);
}
.previewMessage-1ZN7YG {
    background-color: rgb(25, 25, 25);
}
.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
    color: var(--link-color);
}

.select-2fjwPw.open-kZ53_U.lookFilled-22uAsw {
    background-color: rgb(25, 25, 25);
}
.option-3KoAJB {
    background-color: rgb(27, 27, 27);
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98, .outerContentWrapper-2YH49P {
    background-color: rgb(40, 40, 40);
}

.content-yTz4x3 {
    background-color: rgb(25, 25, 25);
}

.scrollableContainer-2NUZem.webkit-HjD9Er {
    background-color: rgb(25, 25, 25);
    border: var(--border-width) var(--chatbox-border) solid;
}

.root-217Brm {
    background-color: rgb(27, 27, 27);
}

.resultsGroup-r_nuzN {
    background-color: rgb(25, 25, 25);
}

.colorHeaderPrimary-26Jzh-.size16-1P40sf.channelName-1JRO3C {
    background-color: rgb(25, 25, 25);
}
.searchHeader-2XoQg7 {
    background-color: rgb(27, 27, 27);
}
.searchResultsWrap-3-pOjs {
    background-color: rgb(25, 25, 25);
}
.searchResult-9tQ1uo {
    background-color: rgb(27, 27, 27);
}

.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.hljs {
    background-color: rgb(40, 40, 40);
}

.contentWrapper-SvZHNd {
    background-color: rgb(25, 25, 25);
}

.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8, .membersGroup-v9BXpm.container-2ax-kl,
.channelNotice-1-XFjC.quickswitcher-35bYg4,
.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2{
    background-color: rgb(25, 25, 25);
}
.scroller-RmtA4e.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: rgb(25, 25, 25);
}

.container-1taM1r.clickable-25tGDB.selected-31Nl7x,
.container-1taM1r.clickable-25tGDB {
    background-color: rgb(25, 25, 25);
}

.content-1LAB8Z.thin-1ybCId.scrollerBase-289Jih {
    background-color: rgb(40, 40, 40);
}

.header-2mZ9Ov.stickyHeader-hH_ZLl,
.titleContainer-2CXtJo.titleElevated-c_kdi7,
.header-2mZ9Ov{
    background-color: rgb(27, 27, 27);
}

.primaryButton-2BsGPp.gutter-15v0rO.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91.sizeXlarge-2yFAlZ.grow-q77ONN {
    background-color: var(--button-color);
}

.customScroller-26gWhv.scroller-oTjtEp.auto-Ge5KZx.scrollerBase-289Jih {
    background-color: rgb(25, 25, 25);
}

.scroller-lynW5A.thin-1ybCId.scrollerBase-289Jih {
   background-color: rgb(25, 25, 25);
}

.connection-1fbD7X.marginBottom8-AtZOdT {
    background-color: rgb(30, 30, 30);
}
.connectionHeader-2MDqhu {
    background-color: rgb(40, 40, 40);
}
.accountList-33MS45.marginBottom20-32qID7 {
    background-color: rgb(40, 40, 40);
}
.inner-2Y6JuD.accountBtnInner-sj5jLs {
    background-color: rgb(50, 50, 50);
}

.noItemsCard-153Tex.card-3Qj_Yx,
.noItemsCard-3TSAgO.card-3Qj_Yx {
    background-color: rgb(40, 40, 40);
}

.preview-2nSL_2.group-spacing-16.cardPrimaryOutline-29Ujqw.card-3Qj_Yx {
    background-color: rgb(25, 25, 25);
}

.channelNotice-1-XFjC.premiumGuildSubscription-3oKecP {
    background-color: rgb(25, 25, 25);
}

.addGamePopout-2RY8Ju.elevationBorderHigh-2WYJ09 {
    background-color: rgb(40, 40, 40);
}

.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.activeGame-14JI7o.nowPlaying-284llR {
    background-color: var(--button-color);
}
.uploadModal-2ifh8j {
    background-color: rgb(40, 40, 40);
}
.footer-3mqk7D.hasSpoilers-1IRtQC {
    background-color: rgb(25, 25, 25);
}
