/*
	Nazwa:	Librus Synergia CSS
	Autor:	UnitedCatdom
	Wersja:	2.0
*/

/*	Konfiguracja	*/
:root {
	--tlo-glowne: rgb(40, 40, 40);
	
	--szerokosc-paska-prz: 1vw;
	--tlo-paska-przwijania: rgb(27, 27, 27);
	--przycisk-paska-prz: white;
	
	--tlo-naglowka: rgb(30, 30, 30);
	
	--kolor-panelu: rgb(60, 60, 60);
	
	--tlo-malego-menu: rgba(40, 40, 40, 0.6);
	
	--rozmycie-menu: 0.2vw;
	
	--tlo-bocznego-menu: rgba(27, 27, 27, 0.3);
}

/*	Główny widok	*/
/*		Tło			*/
#root > div > div.jss84.jss85,
#root > div > div.jss84.jss85 > footer {
	background: var(--tlo-glowne);
}

/* 		Pozycja		*/
#root > div > div.jss84.jss85 {
	position: fixed;
	right: 0vw;
	top: 10vh;
	width: 100vw;
	height: 90vh;
}
#root > div > div.jss84.jss85 > main {
	position: fixed;
	right: 10vw;
	top: 10vh;
	width: 80vw;
	height: 90vh;
	overflow: auto!important;
}

/*		Pasek przewijania		*/
::-webkit-scrollbar {
  width: var(--szerokosc-paska-prz);
}
::-webkit-scrollbar-track {
  background: var(--tlo-paska-przwijania);
}
::-webkit-scrollbar-thumb {
  background: var(--przycisk-paska-prz);
}

/*		Nagłówek	*/
#root > div > header {
	background: var(--tlo-naglowka);
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100vw;
	height: 10vh;
}
/*			Ukrywanie przycisku menu bocznego		*/
#root > div > header > div > div.MuiBox-root.jss314 > button {
	display: none;
}

/* 		Powiadomienia, Oceny itd		*/
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
	background: var(--kolor-panelu)
}

/*		Poprawki koloru czcionek		*/
h6.MuiTypography-root.MuiTypography-subtitle2.MuiTypography-colorPrimary {
	color: white;
}

/* 		Menu	 */
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
	background: var(--tlo-malego-menu);
	backdrop-filter: blur(var(--rozmycie-menu));
}

/*	Boczne menu		*/
/*		Otwieranie/zamykanie przy najechaniu myszką		*/
#mainMenu > div {
	position: fixed;
	top: 10vh;
	left: -22vw;
	width: 30vw;
	height: 90vh;
	opacity: 0.2;
	transition: 500ms ease!important;
}
#mainMenu > div:hover {
	left: 0vw;
	opacity: 1;
}

/*		Tło		*/
#mainMenu > div,
#mainMenu > div > div.jss109,
#mainMenu > div > div.jss113,
#mainMenu > div > div.jss112 {
	background: var(--tlo-bocznego-menu);
	backdrop-filter: blur(var(--rozmycie-menu));
}
