/*  You can use Stylus extension for browser to install css
    https://add0n.com/stylus.html */


@import url(https://fonts.googleapis.com/css?family=Comfortaa);

:root {
    --navy1: #1800ff
}

.o64aR, ._3Laht {
    background-color: #000000;
}

div.zGtbP.IPQK5.VideM {
    background-color: #000000;
}

div.eebAO.h_uhZ {
    color: #ffffff;
}

header.Ppjfr.UE9AK.wdOqh {
    background-color: #000000
}

a.sqdOP.yWX7d._8A5w5.ZIAjV {
    color: #ffffff;
}

div.eo2As  {
    background-color: #000000;
}

svg._8-yf5 {
    fill: #ffffff;
}

a.zV_Nj {
    color: #ffffff;
}

a.FPmhX.notranslate.MBL3Z {
    color: #ffffff;
}

a.r8ZrO {
    color: #ffffff;
}

span._8Pl3R {
    color: #bdbdbd;
}

textarea.Ypffh {
    color: #ffffff;
}

a.O4GlU {
    color: #ffffff;
}

button.sqdOP.yWX7d.y3zKF {
    color: var(--navy1);
}

div.kyOvH.vboSt._6E_wP.ccgHY.GZkEI {
    background-color: #000000;
}

div.Igw0E.rBNOH.eGOV_._4EzTm.L-sTb.HcJZg {
    background-color: #000000;
}

a.FPmhX.notranslate.Qj3-a {
    color: #ffffff;
}

a.HUW1v.hUQXy {
    color: var(--navy1);
}

button.sqdOP.L3NKy._4pI4F.y3zKF {
    background-color: var(--navy1);
}

div.MWDvN.nfCOa {
    background-color: #000000;
}

div.pbgfb.Di7vw  {
    background-color: #000000;
}

input.XTCLo.x3qfX {
    background-color: #000000;
    color: #ffffff;
}

div.fuqBx {
    background-color: #000000;
}

div.Igw0E.rBNOH.eGOV_.ybXk5._4EzTm.XfCBB.HVWg4 {
    background-color: #000;
}

div._7UhW9.xLCgt.qyrsm.KV-D4.uL8Hv {
    color: #ffffff;
}

div._lz6s.Hz2lF {
    background-color: #000000;
}

div._8UZ6e {
    background-color: #000000;
}

div.tHaIX.Igw0E.IwRSH.eGOV_._4EzTm.HVWg4 {
    background-color: #000000;
}

div._7UhW9.PIoXz.qyrsm.KV-D4.uL8Hv {
    color: var(--navy1);
}

div.mt3GC {
    background-color: #000000;
}

button.aOOlW.HoLwm {
    color: #ffffff;
}

div._7UhW9.xLCgt.MMzan.KV-D4.fDxYl {
    color: #ffffff;
}

div._01UL2 {
    background-color: #000000;
}

h2._7UhW9.fKFbl.yUEEX.KV-D4.fDxYl {
    color: #ffffff;
}

ul.k9GMp {
    color: #b5b5b5;
}

span.g47SY {
    color: #b5b5b5;
}

h1.rhpdm {
    color: #ffffff;
}

div.JLbVX {
    background-color: #000000;
}

h2.Kr222 {
    color: #ffffff;
}

h3.c-Vw8 {
    color: #ffffff;
}

a.sqdOP.L3NKy._8A5w5.ZIAjV {
    color: #ffffff;
}

h1._7UhW9.fKFbl.yUEEX.KV-D4.uL8Hv.l4b0S {
    color: #ffffff;
}

div._7UhW9.xLCgt.MMzan.KV-D4.uL8Hv.l4b0S {
    color: #ffffff;
}

button.sqdOP.L3NKy.y3zKF {
    background-color: var(--navy1);
}

ul.wW1cu {
    background-color: #000000;
}

div.Igw0E.IwRSH.eGOV_._4EzTm._5VUwz.XfCBB.g6RW6 {
    background-color: #1800ff;
}

div.DPiy6.Igw0E.IwRSH.eGOV_.vwCYk {
    background-color: #000000;
}

a.sqdOP.yWX7d.y3zKF.ZIAjV {
    color: #ffffff;
}

a.h-aRd.-HRM- {
    color: #ffffff;
}

a.h-aRd.fuQUr {
    color: #ffffff;
}

article.PVkFi {
    background-color: #000000;
}

aside.sxIVS {
    color: #ffffff;
}

h1.kHYQv {
    color: #ffffff;
}

input.JLJ-B.zyHYP {
    color: #a2a2a2;
}

a.cRH0J._6u7OO {
    color: var(--navy1);
}

a.cRH0J {
    color: var(--navy1)
}

div.wpHm3.Igw0E.IwRSH.eGOV_._4EzTm.O1flK.fm1AK {
    background-color: var(--navy1);
}

div.mDC51 {
    background-color: #000000;
}

div.Igw0E.rBNOH.eGOV_._4EzTm {
    background-color: #000000;
}

header._9ezyW {
    background-color: #000000;
}

h1.K3Sf1 {
    color: #ffffff;
}

div.v9tJq.VfzDr {
    background-color: #000000;
}

div.BvyAW {
    background-color: #000000;
}

div.zGtbP {
    background-color: #000000;
}

div.XdXBI {
    color: #ffffff;
}

div.kyOvH.bq3Mi.D_6tu.ccgHY.l9Ww0 {
    background-color: #000000;
}

main.SCxLW.uzKWK {
    background-color: #000000;
}

div.kyOvH.vboSt.D_6tu.ccgHY.GZkEI {
    background-color: #000000;
}

div.DPiy6.Igw0E.IwRSH.eGOV_._4EzTm.HVWg4 {
    background-color: #000000;
}
h4._7UhW9.vy6Bb.qyrsm.KV-D4.uL8Hv {
    color: #ffffff;
}

div.y2E5d {
    background-color: #000000;
}

div.xIOKA {
    background-color: #000000;
    color: #ffffff;
}

div.i6Izp {
    background-color: #000000;
}

div.DPiy6.Igw0E.IwRSH.eGOV_._4EzTm.O1flK.NUiEW {
    background-color: var(--navy1);
}

span._3G4x7.tN4Ei.neTWR {
    color: #ffffff;
}

div._7XkEo {
    background-color: #000000;
}

div.gr27e {
    background-color: #000000;
}

p.izU2O {
    color: #ffffff;
}

span._7UhW9.xLCgt.qyrsm.gtFbE.se6yk {
    color: var(--navy1);
}

a._2Lks6 {
    color: var(--navy1);
}
