/* 	You can use Stylus extension for your browser to install css
	https://add0n.com/stylus.html */


@import url(https://fonts.googleapis.com/css?family=Comfortaa);

#facebook ._-kb div {
    font-family: Comfortaa;
}

.hybvsw6c {
    background-color: #000000;
}

.oo9gr5id {
    color: #ffffff;
}

.nred35xi {
    background-color: #000000;
}

.g6srhlxm {
    background-color: #0400ff;
}

.khkgorpb {
    background-color: #0400ff;
}

.m9osqain {
    color: #bfbfbf;
}

._2znk {
    background: #292929;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 313px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 320px;
}

._1og- {
    align-items: center;
    background-color: #292929;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #292929;
    display: flex;
    height: 32px;
    justify-content: center;
    opacity: 1;
    transition: opacity .2s;
}

.crt8y2ji {
    fill: #000fff;
}

.is6700om {
    background-color: #0400ff;
}

element.style {
    background-color: #0400ff;
}

.hn33210v {
    background-color: #0400ff;
}

div.j83agx80.rq0escxv.fdg1wqfs.jxrgncrl.ae35evdt.qnrpqo6b.taijpn5t.oo9gr5id.gfeo3gy3 {
    color: #000000;
}

div.q5bimw55.rpm2j7zs.k7i0oixp.gvuykj2m.j83agx80.cbu4d94t.ni8dbmo4.eg9m0zos.l9j0dhe7.du4w35lb.ofs802cu.pohlnb88.dkue75c7.mb9wzai9.l56l04vs.r57mb794.kh7kg01d.c3g1iek1.gs1a9yip.rq0escxv.cxgpxx05.rz4wbd8a.sj5x9vvc.a8nywdso.geg40m2u {
    background-color: #000000;
}

div.j83agx80.cbu4d94t.buofh1pr.l9j0dhe7 {
    background-color: #000000;
}

div.cjfnh4rs.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.lzcic4wl.ni8dbmo4.stjgntxs.oqq733wu.cwj9ozl2.io0zqebd.m5lcvass.fbipl8qg.nwvqtn77.nwpbqux9.iy3k6uwz.e9a99x49.g8p4j16d.bv25afu3.gc7gaz0o.k4urcfbm {
    background-color: #000000;
}

div.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.taijpn5t.bp9cbjyn.owycx6da.btwxx1t3.kt9q3ron.ak7q8e6j.isp2s0ed.ri5dt5u2.rt8b4zig.n8ej3o3l.agehan2d.sk4xxmp2.d1544ag0.tw6a2znq.oo1teu6h.tv7at329 {
    background-color: #000000;
}
