/**
 * @name UCI Theme
 * @author UnitedCatdom / Gibbu (Radial Status)
 * @version 1.2.0
 * @source https://github.com/DiscordStyles/RadialStatus - Radial Status
 * @website https://cutebladeyt.github.io/cuteblade/
 * @website https://www.gibbu.me - Radial Status
*/

@import url(https://cutebladeyt.github.io/CSS-Projects/css/Discord_UCI_CSS.css);

:root {
    --button-color: #1f0; /* Change background color of Buttons */
    --link-color: red; /* Change links color */
    --chatbox-border: red; /* Change color of Chatbox border */
    --border-width: 0.1vw; /* CHange borders width */

    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

    --rs-online-color: lime; /* Colour for online status */ /* #43b581 */
    --rs-idle-color: yellow; /* Colour for idle status */ /* #faa61a */
    --rs-dnd-color: rgb(255, 0, 0); /* Colour for dnd status */ /* #f04747 */
    --rs-offline-color: gray; /* Colour for offline status */ /* #636b75 */
    --rs-streaming-color: rgb(36, 0, 165); /* Colour for streaming status */ /* #643da7 */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
